<div class="page">

    {{#each burgers}}
        {{#if this.eaten}}

        {{else}}

        {{/if}}
    {{/each}}

    <label for="burgerInput">Enter a Burger Name</label>
    <input id="burgerInput">
</div>

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="../public/styles/styles.css" >
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
